<div class="container perfil">
    <div class="row"><img class="img-perfil" src="../assets/perfil.png" alt="Imagen de perfil">
      <!-- <div class="col">
        <button type="button" class="cambiar-foto">
          <i class="far fa-image"></i>
        </button> -->
        </div>
    <div class="row">      
        <ul>
            <li><h6>Nombre</h6></li>
            <li>Título</li>
            <li>Información profesional</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorem velit quasi repudiandae! Quas ut provident pariatur iste accusantium ex, debitis quia ab alias, cumque quisquam nesciunt minima ducimus placeat!</li>
        </ul>
    </div>
</div>